# Copyright 2020 Ubuntu
# See LICENSE file for licensing details.

options:
  mirror-list:
    default: |-
      deb http://archive.ubuntu.com/ubuntu jammy main restricted universe multiverse
    description: A list of repositories to mirror.
    type: string
  base-path:
    default: /var/spool/apt-mirror
    description: Repository base path.
    type: string
  architecture:
    default: amd64
    description: Architecture(s) to mirror.
    type: string
  threads:
    default: 20
    description: Number of download threads.
    type: int
  cron-schedule:
    default: ""
    description: |
      The cron tab time entry for automatic synchronisation. You can turn off
      this feature by setting this value to "".
    type: string
  use-proxy:
    default: True
    description: Use model juju-http(s)-proxy settings if provided.
    type: boolean
  strip-mirror-name:
    default: False
    description: Strip upstream mirror name from repo paths in the snapshots.
    type: boolean
  strip-mirror-path:
    default: None
    description: Strip upstream mirror path component in the snapshots.
    type: string
