set base_path         {{ opts['base-path'] }}
set mirror_path       $base_path/mirror
set skel_path         $base_path/skel
set var_path          $base_path/var
set postmirror_script $var_path/postmirror.sh
set defaultarch       {{ opts['architecture'] }}
set run_postmirror    0
set nthreads          {{ opts['threads'] }}
set limit_rate        100m
set _tilde            0
{% if opts['use-proxy'] -%}
set use_proxy         on
{% endif -%}
{% if opts['http_proxy'] -%}
set http_proxy        {{opts['http_proxy']}}
{% endif -%}
{% if opts['https_proxy'] -%}
set https_proxy       {{opts['https_proxy']}}
{% endif -%}

{% for mirror in opts['mirror-list'] -%}
{{ mirror }}
{% endfor -%}
