name: Check workflow running lint checkers, unit and functional tests

on:
  workflow_call:
  pull_request:
    types: [ opened, synchronize, reopened ]
    branches: [ master, main ]
    paths-ignore:
      - '**.md'
      - '**.rst'

jobs:
  lint-unit:
    uses: canonical/bootstack-actions/.github/workflows/lint-unit.yaml@v2
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10"]
    with:
      python-version: ${{ matrix.python-version }}
      tox-version: "<4"

  func:
    uses: canonical/bootstack-actions/.github/workflows/func.yaml@v2
    needs: lint-unit
    strategy:
      fail-fast: false
      matrix:
        include:
          - command: "FUNC_ARGS='--series focal' make functional"
          - command: "FUNC_ARGS='--series jammy' make functional"
    with:
      command: ${{ matrix.command }}
      juju-channel: "3.1/stable"
      nested-containers: false
      provider: "lxd"
      python-version: "3.10"
      timeout-minutes: 120
      tox-version: "<4"
